* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
:root {
  --bg-color: #28262c;
  --text-color: #ffffff;
  --ST-color: #f74b06;
}
body {
  overflow-x: hidden;
}
.navbar {
  display: flex;
  width: 700px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.navbar li a {
  color: #ffffff;
  border-right: #f22d03 3px solid;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 20px;
}
.navbar .socials {
  margin-left: 10px;
}
.navbar .socials a {
  color: #ffffff;
  font-size: 25px;
}
.header {
  background-image: url(80b809b4-a0dd-4229-9149-c8ba075cf008.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
  position: relative;
  min-height: 120vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}
.header img {
  border-radius: 50%;
  width: 250px;
  position: relative;
  bottom: 25px;
}
.header .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 50px;
}
.header h2 {
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 1px;
}
.header h1 {
  color: var(--text-color);
  font-size: 65px;
  letter-spacing: 2px;
}
.header h1 span {
  color: #f74b06;
}
.header .text a {
  color: #ffffff;
  position: relative;
  top: 50px;
  width: 300px;
  height: auto;
  background-color: #f74b06;
  padding: 15px 0px;
  text-align: center;
  border-radius: 30px;
  font-size: 22px;
  text-transform: capitalize;
}
.Services {
  position: relative;

  background-color: #28262c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-bottom: 100px;
}
.Services h2 {
  margin-top: 80px;
  color: #ffffff;
  font-size: 50px;
}
.Services h2 span {
  background: linear-gradient(to right, #e76734, #f22d03);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cards {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.card {
  width: 15rem;
  text-align: center;
}
.cards .card img {
  width: 75px;
  margin-top: 15px;
}
.cards .card h3 {
  color: var(--ST-color);
}
.cards .card p {
  color: #ffffff;
  margin-top: 15px;
}
.cards .card:hover {
  margin-top: 10px;
}
.swiper-button-next,
.swiper-pagination,
.swiper-button-prev {
  color: #f74b06;
}
.swiper-button-next {
  margin-right: 150px;
}
.swiper-button-prev {
  margin-left: 150px;
}
.swiper-pagination-bullet-active {
  background-color: #f74b06 !important;
}

.swiper-pagination {
  margin-bottom: 150px;
}

.trainers {
  background-image: url(pexels-leon-ardho-1552252.jpg);
  height: auto;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 200px 0px;
  gap: 5rem;
}
.trainers h2 {
  color: #ffffff;
  font-size: 55px;
  letter-spacing: 2px;
  margin-top: 40px;
}
.trainers .cardoz {
  justify-content: center;
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  gap: 50px;
}
.trainers .cardoz .card {
  width: 400px;
  display: flex;
  gap: 20px;
  background-color: #28262c;
}
.trainers .cardoz .card img {
  width: 150px;
}
.trainers .cardoz .card h3 {
  background: linear-gradient(to right, #e76734, #f22d03);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
  margin-top: 10px;
  font-size: 25px;
}
.trainers .cardoz .card span {
  font-size: 14px;
  color: #ffffff69;
  font-weight: 300;
  padding-bottom: 25px;
}
.trainers .cardoz .card p {
  color: #ffffff;
  margin-top: 15px;
  width: 200px;
}
.schedule {
  background-color: #28262c;
  position: relative;
  padding: 100px 0px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.schedule h2 {
  padding-top: 100px;
  font-size: 55px;
  color: #ffffff;
  letter-spacing: 1px;
}
.schedule img {
  padding-top: 30px;
  width: fit-content;
}
.price {
  background-image: url(1670-removebg-preview.png);
  background-position: center;
  background-size: cover;
  background-color: black;
  height: auto;
  position: relative;
  padding-bottom: 100px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price h2 {
  font-size: 55px;
  margin-top: 160px;
}
.price .cardib {
  display: flex;
  margin-top: 150px;
  gap: 100px;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
}
.price .cardib .card {
  width: 250px;
  height: 300px;
  background-color: #28262c;
  text-align: center;
  border-radius: 0px 0px 20px 20px;
}
.price .cardib .card .text {
  height: 40%;
  line-height: 40px;
  background-color: #f22d03;
  border-radius: 0px 0px 20px 20px;
}
.price .cardib .card .text h3 {
  font-size: 27px;
  padding-top: 15px;
}
.price .cardib .card .text span {
  font-size: 23px;
}
.price .cardib .card ul {
  line-height: 30px;
  margin-top: 15px;
  margin-right: 10px;
}
footer {
  background-color: #191919;
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer h1 {
  text-align: center;
  color: white;
  font-size: 55px;
  letter-spacing: 2px;
  padding-top: 50px;
}
footer form {
  display: flex;
  flex-direction: column;
  width: 24rem;
  gap: 1rem;
  position: relative;

  padding-top: 50px;
}
footer form input {
  height: 40px;
}
footer form textarea {
  height: 80px;
}
footer form ::placeholder {
  padding: 10px;
  font-weight: 600;
}
footer form button {
  padding: 15px 30px;
  background-color: #f22d03;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all ease 0.4s;
}
footer form button:hover {
  background-color: #f74b06;
}
footer .socials {
  margin-top: 70px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
footer .socials a {
  color: #ffffff;
  font-size: 40px;
  transition: all ease 0.4s;
}
.socials a:hover {
  color: #f22d03;
}
@media only screen and (max-width: 767px) {
  /* Code for small screens */
  .navbar {
    flex-direction: column;
  }
  .header h1 {
    text-align: center;
  }
  .Services h2 {
    text-align: center;
  }
  .schedule img {
    width: 500px;
  }
}
